title: SPL-OBS Docs
email: teogr0123@live.com
author: Tibet Tornaci/oofdere
description: > # this means to ignore newlines until "baseurl:"
  The documentation of SPL-OBS, a plug-in for linking the Now Playing information in StationPlaylist Studio to OBS Studio

# DO NOT CHANGE THE LINE OF THIS FILE without editing .circleci/circle_urls.sh
baseurl: "/" # the subpath of your site, e.g. /blog

# This is mostly for testing
url: "https://vsoch.github.io" # the base hostname & protocol for your site

# Social (First three Required)
repo: "https://github.com/vsoch/docsy-jekyll"
github_user: "vsoch"
github_repo: "docsy-jekyll"

# Optional
twitter: vsoch
linkedin: vsochat
dockerhub: vanessa

# Should there be feedback buttons at the bottom of pages?
feedback: true

# Link to a privacy policy in footer, uncomment and define if wanted
# privacy: https://domain.com/privacy

# google-analytics: UA-XXXXXXXXXX
# Image and (square) dimension for logo (don't start with /)
# If commented, will use material hat theme
# logo: "assets/img/logo/SRCC-square-red.png"
logo_pixels: 34
color: "#30638e"
# color: "#8c1515" # primary color for header, buttons

# Build settings
markdown: kramdown

# If you add tags to pages, define this variable to link them to some external search
# If you want to link to tags locally on the site, leave this commented out
# tag_search_endpoint: https://ask.cyberinfrastructure.org/search?q=
tag_color: primary # danger, success, warning, primary, info, secondary

accentColor: red # purple, green, etc.
themeColor: red # purple, green, blue, orange, purple, grey
fixedNav: 'true' # true or false

permalink: /:year/:title/
markdown: kramdown
exclude: [_site, CHANGELOG.md, LICENSE, README.md, vendor]

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path

# Defaults
defaults:
  - scope:
      path: "_docs"
      type: "docs"
    values:
      layout: page
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: "posts"
      type: "posts"
    values:
      layout: "post"
